@import 'variables';

.section-top-offers {

  padding-left: 10rem;
  padding-right: 10rem;
  @media only screen and (max-width: 900px) {
    padding-left: 0;
    padding-right: 0;
  }
  h5 {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .section-top-offers-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2.4rem;
  }

  .check {
    display: flex;
    justify-content: flex-start;
  }

  .car-name {
    font-size: 1.6rem;
    font-weight: 500;

    @media only screen and (max-width: 1200px) {
      font-size: 1.8rem;
    }
  }

  .line {
    width: 50%;
    border-bottom: 2px solid #9013fe;
  }

  .text-submit {
    margin: 9.6rem 0 4.2rem 0;
  }
}

.car-rating-top {
  width: 7.7rem;
  height: 4rem;
  margin: 0 1.2rem 0 1.2rem;
  padding: 1.2rem;
  background-color: #f1eade;
  letter-spacing: 0.03rem;

  @media only screen and (max-width: 1200px) {
    margin-top: 20px;
  }

  .car-rating-value-top {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.btn-check-offer {
  width: 13.7rem;
  height: 4rem;
  background-color: #3bb273;
  border: solid 1px #979797;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.05rem;

  @media only screen and (max-width: 1200px) {
    margin-top: 20px;
  }
}
